body{
	background: linear-gradient(to bottom, #F4A515 , #F86F05);
	width: 245px;
	height: auto;
}
#currentSong{
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	background: #2B2B2B;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	box-shadow: 2px 2 5px black;
	overflow: hidden;
	width: 220px; 
	height: 40px;
}
#Stuff{
	color: white;
	margin-bottom: 10px;
	display: block;
	white-space: nowrap;
	/*-webkit-animation: marquee 8s linear infinite;*/
}
/*

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.001% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.001% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
*/
#pstate{
	color: #A6A6A6;
}
#albumart{
	margin-left: 10px;
	border-radius: 5px;
	padding-bottom: 20px;
	width: 100px;
	height: auto;

	margin-bottom: -10px
}
#prev{
	margin-left: 5px;
}
#next{
	margin-left: -5px;
}
#playpause{
	margin-left: -5px;
}
#add{
	background: #2B2B2B;
	color: white;
	margin-bottom: 15px;
	margin-left: 10px;
	border-radius: 4.5px;
}

.wrapper{
	text-align: center;
}
a:link{
	color: white;
}
a:hover{
	color: black;
}
a:visited{
	color: white;
}
